:root {
    --black-main: #000000;
    --white-main: #f2f6f8;

    --aero-grad: linear-gradient(to bottom, 
    color-mix(in srgb, var(--secondary-color), white 60%) 0%, 
    var(--secondary-color) 50%, 
    color-mix(in srgb, var(--secondary-color), black 10%) 51%, 
    var(--secondary-color) 100%);
}