<div class="comment-warp">
   <span class="comment-title">评论</span>
   <div id="comment">
       
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/twikoo@1.7.7/dist/twikoo.min.js"></script>
  <script>
    function initTwikoo() {
    // clean
    const c = document.querySelector('#comment');
    if (c) c.innerHTML ='';
    // Init
    twikoo.init({
     envId: '<%= theme.comment.twikoo.env %>',
     el: '#comment',
    })}
    
    initTwikoo();
    // Pjax reload
    document.addEventListener('pjax:complete', function() {
      initTwikoo();
    });
</script>